@font-face {
    font-family: "Circular";
    src: url("./assets/fonts/circular-std-medium-500.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("./assets/fonts/HelveticaNowDisplay-Thin.ttf");
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
    background: #111;
    overflow: hidden;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: splashFadeOut 1s ease forwards;
    animation-delay: 5.8s;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background: white;
    width: 0;
    transform: translate(-50%, -50%);
    animation: expandLine 0.7s ease forwards,
        contractLine 0.7s ease forwards 4.2s;
}

.splash-text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 2px;
    transform: translate(-50%, calc(-50% - 80%));
    /* text ABOVE line */
    font-size: 3.2rem;
    color: white;
    font-family: "Circular", sans-serif;
    z-index: 2;
}

.splash-text .char {
    opacity: 0;
    transform: translateY(40px);
    display: inline-block;
}

/* Animate each letter in */
.char-1 {
    animation: fadeUpIn 0.4s ease-in-out forwards 0.8s, fadeUpOut 0.5s ease forwards 4s;
}

.char-2 {
    animation: fadeUpIn 0.4s ease-in-out forwards 1.0s, fadeUpOut 0.4s ease forwards 4s;
}

.char-3 {
    animation: fadeUpIn 0.4s ease-in-out forwards 1.2s, fadeUpOut 0.4s ease forwards 4s;
}

.char-4 {
    animation: fadeUpIn 0.4s ease-in-out forwards 1.4s, fadeUpOut 0.4s ease forwards 4s;
}

.char-5 {
    animation: fadeUpIn 0.4s ease-in-out forwards 1.6s, fadeUpOut 0.4s ease forwards 4s;
}

.char-6 {
    animation: fadeUpIn 0.4s ease-in-out forwards 1.8s, fadeUpOut 0.4s ease forwards 4s;
}

.char-7 {
    animation: fadeUpIn 0.4s ease-in-out forwards 2.0s, fadeUpOut 0.5s ease forwards 4s;
}

.char-8 {
    animation: fadeUpIn 0.4s ease-in-out forwards 2.2s, fadeUpOut 0.5s ease forwards 4s;
}

.char-9 {
    animation: fadeUpIn 0.4s ease-in-out forwards 2.4s, fadeUpOut 0.5s ease forwards 4s;
}

/* Line animation */
@keyframes expandLine {
    from {
        width: 0;
    }

    to {
        width: 40%;
    }
}

@keyframes contractLine {
    from {
        width: 40%;
    }

    to {
        width: 0;
    }
}

/* Text entrance */
@keyframes fadeUpIn {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Text exit */
@keyframes fadeUpOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}

/* Entire splash fade out */
@keyframes splashFadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.register-page {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    font-family: Circular;
    background-color: #d9d9d9;
    border-radius: 15px;
    width: 800px;
    height: 250px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #111;
}

.form-header {
    font-size: 30px;
    margin-top: 30px;
    font-weight: 500;
    gap: 2px;
    text-transform: uppercase;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    font-family: Circular;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 250px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Circular", sans-serif;
}

.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

.button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button:hover a {
  color: #2D3142;
}